[submodule "lib/UVLM"]
	path = lib/UVLM
	url = http://github.com/imperialcollegelondon/UVLM
	branch = develop
[submodule "lib/xbeam"]
	path = lib/xbeam
	url = http://github.com/imperialcollegelondon/xbeam
