# unused scripts - to be removed
profiling
cpp/pywrap.py
cpp/test_dvinddzeta_wrap.py
src/dev_dbiot.py


__pycache__
*/__pycache__

*_fast.py
*_slow.py
dev
src/superceeded

docs
*.ods
*.ods#
*.prof
*.log



profiling/*.txt

test/*.txt
test/*/*.txt
test/test_lin_aeroelastic/*h5



cpp/obj/*o
cpp/obj/*d
cpp/*so
cpp/*exe

*.idea

cases*/
figs/
