name: sharpy_env
channels:
  - conda-forge
  - defaults
dependencies:
  - _libgcc_mutex=0.1=main
  - alabaster=0.7.12=py37_0
  - asn1crypto=1.2.0=py37_0
  - attrs=19.3.0=py_0
  - babel=2.7.0=py_0
  - blas=1.0=mkl
  - bleach=3.1.0=py_0
  - bzip2=1.0.8=h516909a_1
  - ca-certificates=2019.11.27=0
  - certifi=2019.11.28=py37_0
  - cffi=1.13.1=py37h2e261b9_0
  - chardet=3.0.4=py37_1003
  - cmake=3.14.0=h52cb24c_0
  - colorama=0.4.1=py37_0
  - commonmark=0.9.0=py_0
  - configobj=5.0.6=py37_1
  - coverage=4.5.4=py37h516909a_0
  - cryptography=2.8=py37h1ba5d50_0
  - curl=7.67.0=hbc83047_0
  - cycler=0.10.0=py37_0
  - dbus=1.13.12=h746ee38_0
  - decorator=4.4.1=py_0
  - defusedxml=0.6.0=py_0
  - dill=0.3.1.1=py37_0
  - docutils=0.15.2=py37_0
  - eigen=3.3.7=hfd86e86_0
  - entrypoints=0.3=py37_1000
  - expat=2.2.6=he6710b0_0
  - fontconfig=2.13.0=h9420a91_0
  - freetype=2.9.1=h8a8886c_1
  - future=0.18.2=py37_0
  - glib=2.63.1=h5a9c865_0
  - gst-plugins-base=1.14.0=hbbd80ab_1
  - gstreamer=1.14.0=hb453b48_1
  - h5py=2.9.0=py37h7918eee_0
  - hdf4=4.2.13=0
  - hdf5=1.10.4=hb1b8bf9_0
  - icu=58.2=h9c2bf20_1
  - idna=2.8=py37_0
  - imagesize=1.1.0=py37_0
  - importlib_metadata=0.23=py37_0
  - intel-openmp=2019.4=243
  - ipython_genutils=0.2.0=py_1
  - jinja2=2.10.3=py_0
  - jpeg=9b=h024ee3a_2
  - jsoncpp=1.8.4=hc9558a2_1002
  - jsonschema=3.1.1=py37_0
  - jupyter_core=4.5.0=py_0
  - kiwisolver=1.1.0=py37he6710b0_0
  - krb5=1.16.1=h173b8e3_7
  - lapack=3.6.1=ha44fe06_2
  - libcurl=7.67.0=h20c2e04_0
  - libedit=3.1.20181209=hc058e9b_0
  - libffi=3.2.1=hd88cf55_4
  - libgcc-ng=9.1.0=hdf63c60_0
  - libgfortran=3.0.0=1
  - libgfortran-ng=7.3.0=hdf63c60_0
  - libnetcdf=4.6.1=h11d0813_2
  - libogg=1.3.2=h14c3975_1001
  - libpng=1.6.37=hbc83047_0
  - libssh2=1.8.2=h22169c7_2
  - libstdcxx-ng=9.1.0=hdf63c60_0
  - libtheora=1.1.1=h516909a_1002
  - libtiff=4.1.0=h2733197_0
  - libuuid=1.0.3=h1bed415_2
  - libvorbis=1.3.5=h14c3975_1001
  - libxcb=1.13=h1bed415_1
  - libxml2=2.9.9=hea5a465_1
  - libxslt=1.1.33=h7d1a2b0_0
  - lxml=4.4.1=py37hefd8a0e_0
  - lz4=2.2.1=py37hd79334b_0
  - lz4-c=1.8.3=he1b5a44_1001
  - markupsafe=1.1.1=py37h7b6447c_0
  - matplotlib=3.1.1=py37h5429711_0
  - mistune=0.8.4=py37h516909a_1000
  - mkl=2019.4=243
  - mkl-include=2019.4=243
  - mkl-service=2.3.0=py37he904b0f_0
  - mkl_fft=1.0.15=py37ha843d7b_0
  - mkl_random=1.1.0=py37hd6b4f25_0
  - more-itertools=7.2.0=py_0
  - nbconvert=5.6.1=py37_0
  - nbformat=4.4.0=py_1
  - nbsphinx=0.4.3=py_0
  - ncurses=6.1=he6710b0_1
  - numpy=1.17.3=py37hd14ec0e_0
  - numpy-base=1.17.3=py37hde5b4d6_0
  - openssl=1.1.1d=h7b6447c_3
  - packaging=19.2=py_0
  - pandas=0.25.2=py37he6710b0_0
  - pandoc=2.7.3=0
  - pandocfilters=1.4.2=py_1
  - pcre=8.43=he6710b0_0
  - pip=19.3.1=py37_0
  - pycparser=2.19=py37_0
  - pygments=2.4.2=py_0
  - pyopenssl=19.0.0=py37_0
  - pyparsing=2.4.4=py_0
  - pyqt=5.9.2=py37h05f1152_2
  - pyrsistent=0.15.5=py37h516909a_0
  - pysocks=1.7.1=py37_0
  - python=3.7.5=h0371630_0
  - python-dateutil=2.8.1=py_0
  - pytz=2019.3=py_0
  - pyyaml=5.1.2=py37h7b6447c_0
  - qt=5.9.7=h5867ecd_1
  - readline=7.0=h7b6447c_5
  - recommonmark=0.6.0=py_0
  - requests=2.22.0=py37_0
  - rhash=1.3.8=h1ba5d50_0
  - scipy=1.3.1=py37h7c811a0_0
  - setuptools=41.6.0=py37_0
  - sip=4.19.8=py37hf484d3e_0
  - six=1.13.0=py37_0
  - snowballstemmer=2.0.0=py_0
  - sphinx=2.2.1=py_0
  - sphinx_rtd_theme=0.4.3=py_0
  - sphinxcontrib-applehelp=1.0.1=py_0
  - sphinxcontrib-devhelp=1.0.1=py_0
  - sphinxcontrib-htmlhelp=1.0.2=py_0
  - sphinxcontrib-jsmath=1.0.1=py_0
  - sphinxcontrib-qthelp=1.0.2=py_0
  - sphinxcontrib-serializinghtml=1.1.3=py_0
  - sqlite=3.30.1=h7b6447c_0
  - tbb=2019.9=hc9558a2_1
  - testpath=0.4.4=py_0
  - tk=8.6.8=hbc83047_0
  - tornado=6.0.3=py37h7b6447c_0
  - traitlets=4.3.3=py37_0
  - urllib3=1.24.2=py37_0
  - vtk=8.2.0=py37haa4764d_200
  - webencodings=0.5.1=py_1
  - wheel=0.33.6=py37_0
  - xlrd=1.2.0=py37_0
  - xz=5.2.4=h14c3975_4
  - yaml=0.1.7=had09818_2
  - zipp=0.6.0=py_0
  - zlib=1.2.11=h7b6447c_3
  - zstd=1.3.7=h0a35d5f_1001
  - pip:
    - apptools==4.5.0
    - envisage==4.8.0
    - gpy==1.9.8
    - mayavi==4.7.1
    - paramz==0.9.5
    - pyface==6.1.2
    - traits==5.1.2
    - traitsui==6.1.3

