name: sharpy_env
channels:
  - conda-forge
  - defaults
dependencies:
  - commonmark=0.8.1=py_0
  - lapack=3.6.1=ha44fe06_2
  - libgcc=7.2.0=h69d50b8_2
  - libgfortran=3.0.0=1
  - pexpect=4.6.0=py37_0
  - pip=19.0.1=py37_0
  - prompt_toolkit=2.0.8=py_0
  - ptyprocess=0.6.0=py37_0
  - pyopenssl=19.0.0=py37_0
  - recommonmark=0.5.0=py_0
  - setuptools=40.8.0=py37_0
  - sphinx=1.8.4=py37_0
  - terminado=0.8.1=py37_1
  - traitlets=4.3.2=py37_0
  - wheel=0.32.3=py37_0
  - alabaster=0.7.12=py37_0
  - asn1crypto=0.24.0=py37_0
  - babel=2.6.0=py37_0
  - backcall=0.1.0=py37_0
  - basemap=1.2.0=py37h705c2d8_0
  - blas=1.0=mkl
  - bleach=3.1.0=py37_0
  - bzip2=1.0.6=h14c3975_5
  - ca-certificates=2019.1.23=0
  - certifi=2018.11.29=py37_0
  - cffi=1.11.5=py37he75722e_1
  - chardet=3.0.4=py37_1
  - colorama=0.4.1=py37_0
  - configobj=5.0.6=py37_1
  - cryptography=2.5=py37h1ba5d50_0
  - curl=7.63.0=hbc83047_1000
  - cycler=0.10.0=py37_0
  - cython=0.29.5=py37he6710b0_0
  - dbus=1.13.6=h746ee38_0
  - decorator=4.3.2=py37_0
  - dill=0.3.0=py37_0
  - docutils=0.14=py37_0
  - eigen=3.3.7=hfd86e86_0
  - entrypoints=0.3=py37_0
  - expat=2.2.6=he6710b0_0
  - fontconfig=2.13.0=h9420a91_0
  - freetype=2.9.1=h8a8886c_1
  - future=0.17.1=py37_0
  - geos=3.6.2=heeff764_2
  - glib=2.56.2=hd408876_0
  - gmp=6.1.2=h6c8ec71_1
  - gst-plugins-base=1.14.0=hbbd80ab_1
  - gstreamer=1.14.0=hb453b48_1
  - h5py=2.9.0=py37h7918eee_0
  - hdf4=4.2.13=h3ca952b_2
  - hdf5=1.10.4=hb1b8bf9_0
  - icu=58.2=h9c2bf20_1
  - idna=2.8=py37_0
  - imagesize=1.1.0=py37_0
  - intel-openmp=2019.1=144
  - ipykernel=5.1.0=py37h39e3cac_0
  - ipython=7.2.0=py37h39e3cac_0
  - ipython_genutils=0.2.0=py37_0
  - ipywidgets=7.4.2=py37_0
  - jedi=0.13.2=py37_0
  - jinja2=2.10=py37_0
  - jpeg=9b=h024ee3a_2
  - jsoncpp=1.8.4=hfd86e86_0
  - jsonschema=2.6.0=py37_0
  - jupyter=1.0.0=py37_7
  - jupyter_client=5.2.4=py37_0
  - jupyter_console=6.0.0=py37_0
  - jupyter_core=4.4.0=py37_0
  - kiwisolver=1.0.1=py37hf484d3e_0
  - krb5=1.16.1=h173b8e3_7
  - libcurl=7.63.0=h20c2e04_1000
  - libedit=3.1.20181209=hc058e9b_0
  - libffi=3.2.1=hd88cf55_4
  - libgcc-ng=8.2.0=hdf63c60_1
  - libgfortran-ng=7.3.0=hdf63c60_0
  - libnetcdf=4.6.1=h11d0813_2
  - libogg=1.3.2=h7b6447c_0
  - libpng=1.6.36=hbc83047_0
  - libsodium=1.0.16=h1bed415_0
  - libssh2=1.8.0=h1ba5d50_4
  - libstdcxx-ng=8.2.0=hdf63c60_1
  - libtheora=1.1.1=h5ab3b9f_1
  - libtiff=4.0.10=h2733197_2
  - libuuid=1.0.3=h1bed415_2
  - libvorbis=1.3.6=h7b6447c_0
  - libxcb=1.13=h1bed415_1
  - libxml2=2.9.9=he19cac6_0
  - libxslt=1.1.33=h7d1a2b0_0
  - lxml=4.3.2=py37hefd8a0e_0
  - lz4-c=1.8.1.2=h14c3975_0
  - markupsafe=1.1.0=py37h7b6447c_0
  - matplotlib=3.0.2=py37h5429711_0
  - mistune=0.8.4=py37h7b6447c_0
  - mkl=2019.1=144
  - mkl-include=2019.1=144
  - mkl_fft=1.0.10=py37ha843d7b_0
  - mkl_random=1.0.2=py37hd81dba3_0
  - nbconvert=5.3.1=py37_0
  - nbformat=4.4.0=py37_0
  - ncurses=6.1=he6710b0_1
  - notebook=5.7.4=py37_0
  - numpy=1.15.4=py37h7e9f1db_0
  - numpy-base=1.15.4=py37hde5b4d6_0
  - openssl=1.1.1a=h7b6447c_0
  - packaging=19.0=py37_0
  - pandas=0.24.1=py37he6710b0_0
  - pandoc=2.2.3.2=0
  - pandocfilters=1.4.2=py37_1
  - parso=0.3.2=py37_0
  - pcre=8.42=h439df22_0
  - pickleshare=0.7.5=py37_0
  - proj4=5.2.0=he6710b0_1
  - prometheus_client=0.5.0=py37_0
  - pycparser=2.19=py37_0
  - pygments=2.3.1=py37_0
  - pyparsing=2.3.1=py37_0
  - pyproj=1.9.6=py37h14380d9_0
  - pyqt=5.9.2=py37h05f1152_2
  - pyshp=2.0.1=py37_0
  - pysocks=1.6.8=py37_0
  - python=3.7.2=h0371630_0
  - python-dateutil=2.7.5=py37_0
  - pytz=2018.9=py37_0
  - pyzmq=17.1.2=py37he6710b0_2
  - qt=5.9.7=h5867ecd_1
  - qtconsole=4.4.3=py37_0
  - readline=7.0=h7b6447c_5
  - requests=2.21.0=py37_0
  - scipy=1.2.0=py37h7c811a0_0
  - send2trash=1.5.0=py37_0
  - sip=4.19.8=py37hf484d3e_0
  - six=1.12.0=py37_0
  - snowballstemmer=1.2.1=py37_0
  - sphinxcontrib=1.0=py37_1
  - sphinxcontrib-websupport=1.1.0=py37_1
  - sqlite=3.26.0=h7b6447c_0
  - tbb=2019.1=hfd86e86_0
  - testpath=0.4.2=py37_0
  - tk=8.6.8=hbc83047_0
  - tornado=5.1.1=py37h7b6447c_0
  - urllib3=1.24.1=py37_0
  - vtk=8.2.0=py37haa4764d_200
  - wcwidth=0.1.7=py37_0
  - webencodings=0.5.1=py37_1
  - widgetsnbextension=3.4.2=py37_0
  - xlrd=1.2.0=py37_0
  - xz=5.2.4=h14c3975_4
  - zeromq=4.3.1=he6710b0_3
  - zlib=1.2.11=h7b6447c_3
  - zstd=1.3.7=h0b5b093_0
  - pip:
    - apptools==4.4.0
    - envisage==4.7.1
    - mayavi==4.6.2
    - pyface==6.0.0
    - sphinx-rtd-theme==0.4.3
    - traits==5.0.0
    - traitsui==6.0.0

